@import 'src/styles/vars';

body {
    overflow: hidden;
}
a {
    color: $white;
}
button {
    appearance: none;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: $font-family;
    color: $white;
    font-size: 1em;
    cursor: pointer;
}
